@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');
body {
    background-color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
    height: 100%
}
.head_position {
    height: 185px;
}
.logo {
    width: 157px;
    max-width: 100%;
    display: block;
}
.logoxs {
    width: 100px;
}
.b-nav {
    display: inline-block;
}
.b-nav-logo {
    display: inline-block !important;
}
.b-nav-private {
    margin-left: 30px;
    display: inline-block;
}
.nav-but{
    display: inline-block;
    background-color: #f4e234 !important;
}
.btn-1 {
    background-color: #f4e234;
    color: #1b2445;
    border-radius: 2px;
    margin-top: -5px;
    padding: 12px 39px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.btn-1:hover {
    background: #404e80;
    border-color: #404e80;
    color: #FFFFFF;
}
.phone {
    color: #fffefa !important;
    font-size: 24px;
    text-decoration: none !important;

}
.elected {
    font-size: 13px;
    color: #fffefa;
    font-weight: 100;
}
.elected:active,.elected:hover {
    color: #f4e234;
    text-decoration: none;
}

.header {
    padding-top: 14px;
    background: #1b2445;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    height: 135px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}
.header-menu {
    margin-bottom: 0;
    border: 0 !important;
    position: fixed;
    top: 135px;
    width: 100%;
    z-index: 1000;
}
.header-menu a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #1b2445;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
}
.header-menu ul.nav a {
    padding: 16px;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
}
.header-menu ul.nav ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #404e80;
    z-index: 10000;
    list-style-type: none;
    margin: 0;
    padding: 10px 22px;
}
.h-mobile-menu {
    color: #FFFFFF;
    z-index: 10010;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 1px;
    min-width: 100%;
    position: fixed;
}
.h-mobile-menu__holder {
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    position: absolute;
    min-width: 100%;
    min-height: 1000%;
    display: block;
    background: rgba(0, 6, 31, 0.72);
}
.h-mobile-menu__wrapper {
    position: relative;
    padding-left: 50px;
    min-width: 250px;
}
.h-mobile-menu__close {
    position: absolute;
    display: block;
    width: 50px;
    height: 64px;
    background: url(imglife/mobclose.png) no-repeat 0 0;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    left: 0;
    top: 15px;
}
.h-mobile-menu__background {
    padding: 22px 15px;
    background: #323d64;
}
.b-btn.-full {
    width: 100%;
}
.btn-primary {
    color: #FFFFFB;
    background-color: #f4e234;
    border-color: #f3df1c;
}
.b-btn {
    border-radius: 2px;
    padding: 12px 39px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.h-mobile-menu a {
    color: #FFFFFF;
}
.h-mobile-menu__account {
    padding-left: 12px;
}
.h-mobile-menu__item {
    margin: 20px 0;
}
.h-mobile-menu__link-img {
    display: table-cell;
    vertical-align: middle;
    width: 32px;
    padding-right: 5px;
}
.h-mobile-menu__link {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
}
.h-mobile-menu .navbar-nav {
    float: none;
    margin: 20px 0 0 0;
}
.h-mobile-menu .navbar-nav li {
    float: none;
    padding-left: 0;
}
.header-menu ul.nav ul li a:hover {
    color: #aab0c5;
}
.dropdown:hover > .dropdown-menu { 
    display: block; 
} 
.dropdown-menu {
    border-radius: 0;
    border: 0;
}
.header-menu ul.nav a:hover {
    background-color: #404e80;
    color: #fff;
}
.header-menu ul.nav ul li a {
    text-transform: none;
    white-space: nowrap;
    color: #fff;
    font-weight: normal;
    font-family: "Arimo", sans-serif;
    font-size: 15px;
    padding: 5px;
}
.navbar-form {
    padding: 0;
    margin-top: 0;
}
.navbar {
    min-height: 0;
}
.form-control {
    width: 100%;
    height: 45px;
    color: #aab0c5;
}
.navbar-toggle {
    border: 0;
    margin-top: 0;
    margin-right: 0;
}
.navbar-default {
    background-color: #e3e5ee;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.nav a {
    text-transform: uppercase;
}
.b-header_description {
    text-transform: uppercase;
}
.row2 {
    margin-top: 14px;
}
.input-group-addon, .b-search, .btn-default {
    background: #404e80;
    border-color: #404e80 !important;
    border-radius: 4px !important;

}

.b-search .input-group-addon {
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 2px;
}
.btn-default {
    color: #f4e234;
    font-size: 23px;
}
.menu-mob {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    display: block;
}


@media (min-width: 991px) {
 .img_nav {
    width: 30px;
}


@media (max-width: 1199px) and (min-width: 991px) {
    .logo {
        width: 131px;
    }
    .img_navsm {
        width: 15px;
    }
}

@media (max-width: 767px) {
    .xs { margin-top: 9px; }
    .navbar {padding-top: 15px;}
    .row2 {margin-top: 0;}
    .navbar-form {
        padding-right: 15px;
        padding-left: 15px;
        border-top: 0;
        border-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .b-nav-xs {
        float: right;
        margin-right: 20px;
    }
    .logo {
        width: 100px;
    }
    .icon-bar {
        height: 6px !important;
        width: 40px !important;
        margin: 0 0 6px 0 !important;
    }
}

@media (min-width: 768px){
    .navbar-form .form-control {
        display: inline-block;
        width: 100%; 
        vertical-align: middle;
    }
    .logo {padding-top: 13px;}
    .nav-justified > li > a { font-size: 12px;}
}

@media (max-width: 991px) and (min-width: 768px){
    .b-header-mob button {
        float: left;
        padding-left: 0;
        padding-right: 0;
        margin-top: 4px;
    }
    .h-mobile-menu__wrapper {
        max-width: 50%;
        margin-left: 50%;
    }
    .b-header-mob button .icon-bar {
        height: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 28px;
    }
    .btn-1 {
        margin-right: 15px;
        padding: 6px 18px;
    }
    .b-phone {
        margin-left: 0;
        margin-top: 5px;
    }
    .phone {
        font-size: 15px
    }   
    .img_nav {
        width: 20px;
    }
}
