@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap';


body {
    background-color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
    height: 100%;
    padding-top: 185px;
}
.logo {
    width: 157px;
    max-width: 100%;
    display: block;
}
.logoxs {
    width: 100px;
}
.b-nav {
    display: inline-block;
}

.b-nav-private {
    margin-left: 30px;
    display: inline-block;
}
.nav-but{
    display: inline-block;
    background-color: $color1;
}
.btn-1 {
    background-color: $color1;
    color: $color2;
    border-radius: 2px;
    margin-top: -5px;
    padding: 12px 39px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    &:hover {
        background: $color3;
        border-color: $color3;
        color: $colorfont;
    }
}

.phone {
    color: $colorfont !important;
    font-size: 24px;
    text-decoration: none !important;

}
.elected {
    font-size: 13px;
    color: $colorfont;
    font-weight: 100;
    &:active {
        color: $color1;
        text-decoration: none;
    }

    &:hover {
        color: $color1;
        text-decoration: none;
    }
}


.header {
    padding-top: 14px;
    background: $color2;
    color: $colorfont;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    height: 135px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}
.header-menu {
    margin-bottom: 0;
    border: 0 !important;
    position: fixed;
    top: 135px;
    width: 100%;
    z-index: 1000;
    background-color: #e3e5ee;
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    a {
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        color: $color2;
        text-decoration: none;
        font-size: 14px;
        padding-bottom: 16px;
        padding-top: 16px;
    }
    ul.nav a {
        padding: 16px;
        text-transform: uppercase;
        padding-left: 0px;
        padding-right: 0px;
        &:hover {
            background-color: $color3;
            color: $colorfont;
        }
    }
        ul.nav ul {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: $color3;
        z-index: 10000;
        list-style-type: none;
        margin: 0;
        padding: 10px 22px;

        a {
            text-transform: none;
            white-space: nowrap;
            color: $colorfont;
            font-weight: normal;
            font-family: "Arimo", sans-serif;
            font-size: 15px;
            padding: 5px;
        }
    }    
}
.navbar {
    min-height: 0;
}

.dropdown:hover > .dropdown-menu { 
    display: block; 
    background-color: $color3;
    color: $colorfont;
} 
.dropdown, .dropdown-menu, .dropdown-toggle {
    border-radius: 0;
    border: 0;
    &:hover {
        background-color: $color3;
        color: $colorfont;   
    }
}


.h-mobile-menu {
    color: $colorfont;
    z-index: 10010;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 1px;
    min-width: 100%;
    position: fixed;
    
    .h-mobile-menu__holder {
        top: 0;
        left: 0;
        right: 0;
        bottom: 1px;
        position: absolute;
        min-width: 100%;
        min-height: 1000%;
        display: block;
        background: rgba(0, 6, 31, 0.72);
    }
    
    .h-mobile-menu__wrapper {
        position: relative;
        padding-left: 50px;
        min-width: 250px;
    }
    
    .h-mobile-menu__close {
        position: absolute;
        display: block;
        width: 50px;
        height: 64px;
        background: url(imglife/mobclose.png) no-repeat 0 0;
        border: 0;
        padding: 0;
        margin: 0;
        font-size: 0;
        left: 0;
        top: 15px;
    }
    .h-mobile-menu__background {
        padding: 22px 15px;
        background: #323d64;
    }
    a {
        color: $colorfont;
    }

    .h-mobile-menu__account {
        padding-left: 12px;
    }
    .h-mobile-menu__item {
        margin: 20px 0;
    }
    .h-mobile-menu__link-img {
        display: table-cell;
        vertical-align: middle;
        width: 32px;
        padding-right: 5px;
    }
    .h-mobile-menu__link {
        display: table-cell;
        vertical-align: middle;
        font-size: 13px;
    }
    .h-mobile-menu .navbar-nav {
        float: none;
        margin: 20px 0 0 0;
        li {
            float: none;
            padding-left: 0;
        }
    }

}

.b-btn.-full {
    width: 100%;
}
.btn-primary {
    color: #FFFFFB;
    background-color: $color1;
    border-color: $color1;
}
.b-btn {
    border-radius: 2px;
    padding: 12px 39px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.navbar-form {
    padding: 0;
    margin-top: 0;
}

.form-control {
    width: 100%;
    height: 45px;
    color: #aab0c5;
}
.navbar-toggle {
    border: 0;
    margin-top: 0;
    margin-right: 0;
}

.row2 {
    margin-top: 14px;
}
.b-header_description {
    text-transform: uppercase;
}
.input-group-addon, .b-search, .btn-default {
    background: $color3;
    border-color: $color3 !important;
    border-radius: 4px !important;

}

.b-search .input-group-addon {
    font-weight: 500;
    text-transform: uppercase;
    color: $colorfont;
    padding-right: 2px;
}
.btn-default {
    color: $color1;
    font-size: 23px;
}
.menu-mob {
    color: $colorfont;
    font-weight: 500;
    font-size: 20px;
    display: block;
}